/* Body */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fbfbfb;
}

.btn {
    color: #fff;
    background-color: #449a8d;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 2px;
}

.btn[disabled="true"] {
    color: #449a8d;
    background-color: #fff;
    border-color: #449a8d;
}

.btn:not([disabled]):hover {
    color: #fff;
    background-color: #003b32;
}

.analogGoogleTrends {
    /* analog google trends widget */
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px 0, rgba(0, 0, 0, 0.24) 0 2px 2px 0;
}

/* Header */
h1, h2, h3, h4, h5 {
    text-align: center;
}

h1, h2 {
    color: #fff;
    background-color: #003b32;
    border-radius: 3px;
    padding: 3px 0;
}

h1 {
    font-size: 1.8rem;
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

/* Nav */
nav {
    background-color: #fbfbfb;
    opacity: 0.98;
    position: sticky;
    z-index: 1;
    top: 0;

    padding: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 2px 2px 0;
}

/* Footer */

#contacts {
    text-align: center;
}

.social-link-list li i {
    color: #449a8d;
    font-size: 1.5em;
}

.social-link-list li i:hover {
    color: #003b32;
}

/* *** Content *** */

/* General */
section {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

section.container > *:last-child {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.filterContainer {
    padding-left: 15px;
    padding-right: 15px;
}

.filterContainer h3,
.filterContainer h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

svg {
    background-color: #fff;
    border: 1px solid #449a8d;
}

.container-fluid {
    width: 97%;
    padding: 5px 0;
}

label {
    margin-bottom: 0.25rem;
}

ul {
    padding-left: 15px;
    margin-bottom: 0.5rem;
}

#dcVisCounter {
    text-align: right;
}

/* Comparison / Google Trends widget */
.compareItemButton:hover {
    text-decoration: line-through;
}

.googleTrendsNewWindow {
    display: flex;
    float: right;
}

.iFrameError {
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;

    border: 2px solid #e36e64;
}

#comparisonModal {
    text-align: center;
}

/* Data Table */
#pagination {
    text-align: right;
}

#dcDataTable thead th:nth-child(2),
#dcDataTable thead th:nth-child(3) {
    text-align: center;
}

#dcDataTable th i {
    font-size: 1.5em;
}

#dcDataTable td.dc-table-column._0 {
    white-space: nowrap;
}

#dcDataTable tbody label {
    padding-left: 5px;
}

#dcDataTable td.dc-table-column._1 {
    text-align: center;
}

#dcDataTable td i {
    color: #449a8d;
}

#dcDataTable td a i:hover {
    color: #003b32;
}

#dcDataTable td.dc-table-column._2 {
    text-align: right;
}

#dcDataTable td.dc-table-column._3 {
    white-space: nowrap;
}

#dcVisCounter strong {
    margin: 0 3px;
}

/*** Filters ***/

#filters {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    #filters {
        box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px 0, rgba(0, 0, 0, 0.24) 0 -2px -2px 0;
    }
}

/* text based filter */
.textSearchContainer {
    list-style: none;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 5px;
    width: 100%;
}

.textSearchContainer label {
    width: 230px;
    text-align: end;
}

.textSearchContainer input {
    margin-left: 3px;
    margin-right: 5px;
    border: 1px solid #449a8d;
    width: 150px;
}

/* range Selector */

.rangeChartContainer {
    padding: 5px 5px;
}

#StarsRangeRowChart text {
    fill: #000;
}

#StarsRangeRowChart .selected {
    fill: #449a8d;
}

#StarsRangeRowChart .selected+text {
    font-weight: bolder;
}

/* Keyword Selector */
.multipleKeywords {
    text-align: center;
}

.keywordSliderContainer {
    display: inline-block;
    padding: 5px;
    border: 1px solid #449a8d;
    background-color: #fff;
}

.keywordSliderContainer p {
    margin-bottom: 0;
}

.dc-cbox-group {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.dc-cbox-group > li:last-child {
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
}

.dc-cbox-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.dc-cbox-item input {
    margin-right: 3px;
}

/* About */
#about h4 {
    text-align: left;
}

/* 404 */
.notFound {
    text-align: center;
    position: relative;
    height: 75vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.notFound .btn {
    width: fit-content;
    align-self: center;
}
