/* Body */

.btn {
    color: #fff;
    background-color: #449a8d;
    border-color: #449a8d;
    margin: 2px;
}

.btn[disabled="true"] {
    color: #449a8d;
    background-color: #fff;
    border-color: #449a8d;
}

.btn:hover {
    color: #fff;
    background-color: #003b32;
    border-color: #003b32;
}

/* Header */

/* Nav */
nav {
    position: sticky;
    top: 5px;
}

.nav-item {
    opacity: 0.8;
    z-index: 1;
}

/* Footer */

#contacts {
    text-align: center;
}

.social-link-list li i {
    color: #449a8d;
    font-size: 1.5em;
}

.social-link-list li i:hover {
    color: #003b32;
}

/* *** Content *** */

/* General */
section {
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    /* analog google trends widget */
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px 0, rgba(0, 0, 0, 0.24) 0 2px 2px 0;
}

section.container > *:last-child {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.filterContainer {
    padding-left: 15px;
    padding-right: 15px;
}

label {
    margin-bottom: 0.25rem;
}

ul {
    margin-bottom: 0.5rem;
}



#dcVisCounter {
    text-align: right;
}

/* Comparison / Google Trends widget */
.compareItemButton:hover::before {
    content: "Remove "
}

.googleTrendsNewWindow {
    display: flex;
    float: right;
}

.iFrameError {
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
}

/* Data Table */
#pagination {
    text-align: right;
}

#dcDataTable thead th:nth-child(2),
#dcDataTable thead th:nth-child(3) {
    text-align: center;
}

#dcDataTable th i {
    font-size: 1.5em;
}

#dcDataTable td.dc-table-column._0 {
    white-space: nowrap;
}

#dcDataTable tbody label {
    padding-left: 5px;
}

#dcDataTable td.dc-table-column._1 {
    text-align: center;
}

#dcDataTable td i {
    color: #449a8d;
}

#dcDataTable td i:hover {
    color: #003b32;
}

#dcDataTable td.dc-table-column._2 {
    text-align: right;
}

#dcDataTable td.dc-table-column._3 {
    white-space: nowrap;
}

/* partials Selector */

/* Keyword Selector */
.multipleKeywords {
    margin: 0 0 5px 0;
}

.keywordSliderContainer {
    text-align: right;
}

.dc-cbox-group {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dc-cbox-group > li:last-child {
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
}

.dc-cbox-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.dc-cbox-item input {
    margin-right: 3px;
}

/* Overview bar chart */
#dcOverviewBarChart .bar {
    fill: #449a8d;
}

#dcOverviewBarChart .bar:hover {
    fill: #003b32;
    fill-opacity: 1;
}
